---
const logos = [
  { name: 'Amazon', src: '/assets/logos/amazon.svg' },
  { name: 'DoD', src: '/assets/logos/dod.svg' },
  { name: 'Stanford', src: '/assets/logos/stanford.svg' },
  { name: 'Nvidia', src: '/assets/logos/nvidia.svg' },
  { name: 'UBS', src: '/assets/logos/UBS.svg' },
  { name: 'Databricks', src: '/assets/logos/databricks.svg' },
  { name: 'ETHZurich', src: '/assets/logos/ethzurich.svg' },
  { name: 'KPMG', src: '/assets/logos/kpmg.svg' },
  { name: 'Google', src: '/assets/logos/google.svg' },
  { name: 'MIT', src: '/assets/logos/MIT.svg' },
  { name: 'Meta', src: '/assets/logos/meta.svg' },
  { name: 'Vanguard', src: '/assets/logos/vanguard.svg' },
  { name: 'Netflix', src: '/assets/logos/netflix.svg' },
  { name: 'Nike', src: '/assets/logos/nike.svg' },
];
---
<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-12 sm:gap-16">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Trusted by AI researchers at top institutions.</h2>
    </div>
  </div>
</section>
<br><br>
<section class="scrolling-logos" :class="{'bg-black': $store.theme.isDark, 'bg-[#fafafa]': !$store.theme.isDark}">
  <div class="logos-container">
    {logos.concat(logos).map(logo => (
      <img src={logo.src} alt={logo.name} class={`logo ${logo.name === 'Meta' ? 'meta-logo' : ''} ${logo.name === 'DoD' ? 'dod-logo' : ''}`} />
    ))}
  </div>
</section>

<style>
  .scrolling-logos {
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 1rem 0;
    transition: background-color 0.3s ease;
  }
  .logos-container {
    display: flex;
    width: max-content;
    animation: scroll 40s linear infinite;
  }
  .logo {
    height: 50px; /* Fixed height for the logos */
    margin-right: 7em; /* Adjust spacing between logos */
    display: block;
  }
  .meta-logo {
    height: 120px; /* Double height for Meta logo */
    margin-top: -35px;
  }
  .dod-logo {
    height: 100px; /* Double height for DoD logo */
    margin-top: -25px; /* Adjust margin as needed */
  }
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
</style>