---
const values = [
  [
    {
      ref: '01',
      name: 'Freedom',
      description:
        'We champion the freedom to innovate without constraints, providing unrestricted access to AI technologies for all legal uses.',
    },
    {
      ref: '02',
      name: 'Transparency',
      description:
        'Our commitment to open-source ensures transparency, enabling collaboration and collective advancement in AI development.',
    },
  ],
  [
    {
      ref: '03',
      name: 'Community',
      description:
        'We thrive on community-driven innovation, harnessing the power of collective intelligence to solve complex challenges and drive progress.',
    },
    {
      ref: '04',
      name: 'Ethics',
      description:
        'We uphold ethical standards in AI, ensuring our tools are used responsibly and for the greater good.',
    },
  ],
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-8 lg:gap-12">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Our Values</h2>
      <div class="grid gap-8 lg:grid-cols-2">
        {
          values.map((column, index) => (
            <div class:list={['space-y-8', index === 1 && 'lg:mt-16']}>
              {column.map((value) => (
                <div class="bg-primary-500/10 dark:bg-primary-400/10 flex flex-col gap-12 rounded-3xl px-6 py-8">
                  <p class="text-sm">{value.ref}</p>
                  <div class="flex flex-col gap-4">
                    <h3 class="text-xl font-medium">{value.name}</h3>
                    <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
                      {value.description}
                    </p>
                  </div>
                </div>
              ))}
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
