<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid grid-cols-1 lg:grid-cols-2 w-full gap-10 lg:gap-16">
      <div class="flex flex-col justify-between items-center gap-8 sm:gap-10">
        <div class="flex flex-col items-center justify-center gap-4 sm:gap-6">
          <h1 class="text-4xl text-center lg:text-left font-medium tracking-tight sm:text-5xl lg:text-5xl">
            Performant Serverless LLMs for AI App Developers
          </h1>
          <p class="text-primary-950/70 text-center lg:text-left dark:text-primary-200/70 text-lg sm:text-lg">
            Ensure your machine learning models are always ready, efficient, and scalable across multiple tenants.
          </p>
        </div>
        <div class="flex w-full justify-center lg:justify-start px-4 gap-2 sm:gap-4 lg:gap-6">
          <a
            href="/pricing"
            class="bg-primary-600 dark:bg-primary-400 whitespace-nowrap hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
          >
            Get Started
          </a>
          <a
            href="/contact"
            class="hollow-button inline-flex whitespace-nowrap items-center justify-center rounded-full border border-primary-600 dark:border-primary-400 px-5 py-3 text-base font-medium text-primary-600 dark:text-primary-400 transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
          >
            View in AWS Marketplace
          </a>
        </div>
        
        <style>
          .hollow-button {
            background-color: transparent;
          }
          .hollow-button:hover {
            background-color: rgba(0, 0, 0, 0.1); /* Adjust the hover background color if needed */
          }
        </style>
      </div>
      
      <img
        class="h-auto w-full rounded-3xl border border-gray-200 p-2"
        src="/assets/hero.webp"
        alt="Hero picture"
      />
    </div>
  </div>
</section>
